<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>897217225951-hu8eesdpt6uupj1hqcv9vcpq6ecu1ki7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.897217225951-hu8eesdpt6uupj1hqcv9vcpq6ecu1ki7</string>
	<key>API_KEY</key>
	<string>AIzaSyCvxQOs6BZVYdrEJAIRUpyrwnKDrQHDj8g</string>
	<key>GCM_SENDER_ID</key>
	<string>897217225951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zari.bytrh</string>
	<key>PROJECT_ID</key>
	<string>bytrhnotfication</string>
	<key>STORAGE_BUCKET</key>
	<string>bytrhnotfication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897217225951:ios:4df4496c8ff605600f756a</string>
</dict>
</plist>