<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19205980163-n3d5copbhuiet7npl006fg8hhl1vc3d0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19205980163-n3d5copbhuiet7npl006fg8hhl1vc3d0</string>
	<key>API_KEY</key>
	<string>AIzaSyAuKmeFu0Ur5Cntnoz9pd4XNthrzkzEmoI</string>
	<key>GCM_SENDER_ID</key>
	<string>19205980163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zari.bytrh</string>
	<key>PROJECT_ID</key>
	<string>on-time-74859</string>
	<key>STORAGE_BUCKET</key>
	<string>on-time-74859.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19205980163:ios:b33d9d8beb98037de54e36</string>
</dict>
</plist>