<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801518603098-oiqcihfo742982c4e84kb6ho5rfv9qmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801518603098-oiqcihfo742982c4e84kb6ho5rfv9qmd</string>
	<key>API_KEY</key>
	<string>AIzaSyCt9Rsqcfyui5YqcAVr5qNE6Q8EH9uXtt8</string>
	<key>GCM_SENDER_ID</key>
	<string>801518603098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zari.bytrh</string>
	<key>PROJECT_ID</key>
	<string>zari-on-time</string>
	<key>STORAGE_BUCKET</key>
	<string>zari-on-time.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801518603098:ios:6c6e9aed25370f9d640163</string>
</dict>
</plist>